*{
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
}
.navRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: darkgrey;
}
.logo{
    width: 25%;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
}
.navbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.liked_cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 10%;
}
.liked{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.login{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 15%;
    background-color: aqua;
}
.signIn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.signUp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.imgHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
}
.textIH{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 5%;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2%;
}
.searchLabel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    height: 25px;
    background-color: grey;
    border-radius: 30px;
}
.popularProduct{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-top: 3.75%;
}
.popularP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100px;
    background-color: darkgrey;
}
.saleProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1.75%;
}
.saleP{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 67.5%;
    height: 100px;
    margin-top: 0.75%;
    background-color: darkgrey;
}
.salePIMG{
    width: 30%;
    height: 100%;
    background-color: red;
}
.salePTEXT{
    width: 60%;
    height: 90%;
}
.salePCART{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 10%;
    height: 80%;
    background-color: cadetblue;
}
.newProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1.75%;
}
.newProductRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin-top: 0.75%;
}
.newP{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100px;
    background-color: darkgrey;
}
.newPIMG{
    width: 100%;
    background-color: red;
}
.newPTEXT{
    width: 80%;
}
.newPCART{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    background-color: cadetblue;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.altlogo{
    width: 25%;
}
.altnav{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    gap: 10px;
}
.altnavbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.altcontact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
}
