@import "./mixin.scss";

main{
    width: 95%;
    @include create-button;
    a, button{
        width: 20%;
    }
}
#past_orders{
    width: 100%;
}
table{
    width: 100%;
    text-align: center;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: $background-color-1;
    margin: 2vh 0;
    th{
        padding: 1vh 0;
    }
    input{
        scale: 1.5;
    }
}