$background-color-1:rgb(68, 68, 68);
$background-color-2:rgb(30, 30, 30);
$accent-color:rgb(220, 0, 0);

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin create-button{
    a, button{
        width: 40%;
        height: 5vh;
        background-color: $background-color-2;
        margin: 1vh 0;
        border-radius: 7.5px;
        border: none;
        color: white;
        &:hover{
            background-color: $accent-color;
        }
    }
}