@import "./mixin.scss";

main{
    @include flex-center;
}
#order_buttons{
    @include flex-center;
    width: 60%;
    flex-direction: column;
    @include create-button;
}
#order_main{
    @include flex-center;
    width: 80%;
    padding: 2.5% 0;
    background-color: $background-color-1;
    border-radius: 10px;
}
#order_info_main, #order_type_main{
    @include flex-center;
    flex-direction: column;
    width: 60%;
    gap: 1vh;
    input{
        height: 4vh;
        border-radius: 5px;
    }
}
#order_info_main{
    input{
        width: 70%;
    }
}
.order_type{
    @include flex-center;
    gap: 5%;
    width: 100%;
    input{
        scale: 1.5;
    }
}
