@import "./mixin.scss";

main{
    @include flex_center;
    flex-direction: row;
    padding-top: 5vh;
}
#profile_photo{
    aspect-ratio: 3/ 4;
    width: 20%;
    background-color: grey;
}
#profile_personal_info{
    @include flex-center;
    flex-direction: column;
    width: 30%;
    // height: 100%;
    gap: 1.5vh;
    span{
        @include flex_center;
        background-color: $background-color-2;
        width: 60%;
        height: 4vh;
        border-radius: 7.5px;
    }
    #profile_personal_hidden{
        @include flex_center;
        flex-direction: column;
        width: 100%;
        gap: 1.5vh;
    }
}