.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35vw;
    margin-top: 2.5%;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;
}
.mainBlog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    		box-shadow: 0px 3px 2px #00000036;
}
.mainBlog-img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60%;
}
.mainBlog-text{
    width: 95%;
    height: 28%;
}
.mainBlog-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 9%;
}
.likeBut{
    width: 6%;
    height: 80%;
}
.forwardBut{
    width: 6%;
    height: 80%;
}
.commentArea{
    width: 70%;
    height: 65%;
    margin-right: 5%;
	border-radius: 30px;
	background-color: rgb(240, 240, 240);
    border: 1px solid rgb(219, 219, 219);
}
.readMoreBut{
    width: 6%;
    height: 80%;
}

.column-newBlog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 39%;
    height: 100%;
    gap: 5%;
}
.newBlog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 49%;
    		box-shadow: 0px 3px 2px #00000036;
}
.newBlog-img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 75%;
    background-color: white;
}
.newBlog-img:hover{
    opacity: 0;
    width: 100%;
    height: 75%;
}
.newBlog-text{
    z-index: -1;
    position: absolute;
    width: 31%;
    height: 12.5vw;
}
.newBlog-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 15%;
}
.newLikeBut{
    width: 7%;
    height: 80%;
}
.newForwardBut{
    width: 7%;
    height: 80%;
}
.newCommentArea{
    width: 70%;
    height: 70%;
    margin-right: 2%;
	border-radius: 30px;
	background-color: rgb(240, 240, 240);
    border: 1px solid rgb(219, 219, 219);
}
.newReadMoreBut{
    width: 7%;
    height: 80%;
}

@media screen and (max-width: 970px){
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 135vw;
    margin-top: 2.5%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
}
.mainBlog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 100vw;
    max-height: 55vh;
}
.mainBlog-img{
    width: 100%;
    height: 60%;
}
.mainBlog-text{
    width: 95%;
    height: 28%;
}
.mainBlog-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 8%;
}
.likeBut{
    width: 5%;
    height: 80%;
}
.forwardBut{
    width: 5%;
    height: 80%;
}
.commentArea{
    width: 70%;
    height: 85%;
    margin-right: 5%;
	border-radius: 30px;
	background-color: rgb(240, 240, 240);
	border: 1px solid rgb(219, 219, 219);
}
.readMoreBut{
    width: 5%;
    height: 80%;
}

.column-newBlog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 310px;
    height: 80vw;
}
.newBlog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vw;
    max-height: 50vh;
}
.newBlog-img{
    width: 100%;
    height: 75%;
}
.newBlog-img:hover{
    opacity: 0;
    width: 100%;
    height: 75%;
}
.newBlog-text{
    z-index: -1;
    position: absolute;
    width: 90%;
    height: 29.5vw;
    margin-top: -6%;
}
.newBlog-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1%;
    height: 10%;
    width: 97.5%;
    gap: 1%;
}
.newLikeBut{
    width: 4%;
    height: 90%;
}
.newForwardBut{
    width: 4%;
    height: 90%;
}
.newCommentArea{
    display: none;
    width: 70%;
    height: 70%;
    margin-right: 2%;
	border-radius: 30px;
	background-color: rgb(240, 240, 240);
}
.newReadMoreBut{
    width: 4%;
    height: 90%;
}
}