.body {
  background-color: #212121c5;
  background-image: url("https://cybersport.metaratings.ru/storage/images/ea/08/ea081254a7ca94dadab96b159cb5b917.jpg");
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navigation {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: row;
  height: 60%;
  width: 100%;
  background-color: #1c1c1cd5;
  transition: background-color 0.3s ease;
}

.logo {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 15%;
  overflow: hidden;
  margin: 5px 0 0 5px;
}

.tems {
  width: 40px;
  height: 40px;
  background-color: #000;
  margin: 10px 0 0 5px;
  padding: 0;
  border: none;
  border-radius: 15%;
  overflow: hidden;
}

.menu {
  display: flex;
  flex-direction: row;
  height: 40%;
  width: 100%;
  background-color: #212121c5;
  transition: background-color 0.3s ease;
}

.menu_button {
  width: 30px;
  height: 30px;
  margin: 5px 0 0 10px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin-left: 20%;
  background-color: #212121c5;
  transition: background-color 0.3s ease;
}

.main_ivent {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
}

.HI_text {
  text-align: center;
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: calc(12px + 0.5vw);
}

.name {
  text-align: center;
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: calc(14px + 0.5vw);
}

.ivent_img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.img {
  width: 30%;
  height: auto;
  margin: 2.5% 0 0 2.5%;
  position: relative;
}

.img_last {
  width: 30%;
  height: auto;
  margin: 2.5% 0 0 35%;
  position: relative;
}

.ivent_text {
  text-align: center;
  color: #fff;
  padding: 2.5%;
  font-family: Inter, sans-serif;
  font-size: calc(12px + 0.5vw);
}

.footer {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 120px;
  background-color: #1c1c1cd5;
  transition: background-color 0.3s ease;
}

.game_contacts {
  display: flex;
  flex-direction: row;
  width: 25%;
  margin-left: 10%;
  background-color: #000;
}

.battlebit {
  width: 100%;
  height: 100%;
}

.social {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25%;
  height: 100%;
  margin-left: 2.5%;
}

.join {
  text-align: center;
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: calc(10px + 0.35vw);
  padding: 2.5%;
}

.sites {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 80%;
  overflow: hidden;
}

.youtube {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border: none;
  border-radius: 15%;
  overflow: hidden;
}

.discord {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border: none;
  border-radius: 15%;
  overflow: hidden;
}

.twich {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border: none;
  border-radius: 15%;
  overflow: hidden;
}

.reddit {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border: none;
  border-radius: 15%;
  overflow: hidden;
}

.politics {
  display: flex;
  flex-direction: column;
  text-align: end;
  width: 25%;
  margin-left: 2.5%;
}

.help {
  width: 100%;
  height: 30%;
  margin-top: 7.5%;
  overflow: hidden;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: calc(10px + 0.35vw);
  color: #fff;
}

.privacy {
  width: 100%;
  height: 30%;
  overflow: hidden;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: calc(10px + 0.35vw);
  color: #fff;
}

.img:hover::after {
  content: attr(data-title);
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 10px 10px;
  background-color: #ffffff50;
  color: #000;
  font-size: calc(10px + 0.35vw);
  font-family: Inter, sans-serif;
}

.img_last:hover::after {
  content: attr(data-title);
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 10px 10px;
  background-color: #ffffff50;
  color: #000;
  font-size: calc(10px + 0.35vw);
  font-family: Inter, sans-serif;
}